@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:wght@300&display=swap');

:root {
    --primary-bg-color: #014E56;
    --secondary-bg-color: #012F34;
    --accent-bg-color: #F67E7E;
    --text-primary-color: #F67E7E;
    --text-secondary-color: #79C8C7;
    --text-accent-color: #012F34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Livvic", sans-serif;
    height: 100dvh;
    width: 100dvw;
    color: white;
}

header {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15% 5%;
    width: 100%;
    /* position: fixed;
    top: 0;
    background-color: var(--primary-bg-color);
    z-index: 1; */
}

hgroup {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 0 15%;
}

span {
    color: var(--text-primary-color);
}

.header-paragraph {
    margin: 5% 5% 15% 0;
    font-size: 1rem;
    line-height: 2.3rem;
    font-weight: 600;
}

.deco-head {
    min-width: 100%;
    margin: 0 1rem;
}

main {
    background-color: var(--secondary-bg-color);
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
}

h2 {
    font-size: 1.8rem;
    margin: 0 6%;
}

.title-section img {
    position: relative;
    left: 24%;
    top: 0;
}


/* SEC 1 */

.sec1 {
    padding: 10% 6%;
}

.sec1 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
}

h3 {
    color: var(--text-primary-color);
    margin: 3% 0;
    font-size: 1.3rem;
}

article p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.experienced-individuals::before {
    content: url('/public/assets/icon-person.svg');
}

.easy-to-implement::before {
    content: url('/public/assets/icon-cog.svg');
}

.enhanced-productivity::before {
    content: url('/public/assets/icon-chart.svg');
}


/* Sec 2 */

.sec2 {
    background-color: #004047;
}

.sec2 h2 {
    text-align: center;
    margin: 10% 15%;
}

.sec2 h2 span {
    color: var(--text-secondary-color);
}

.sec2 .profile {
    text-align: center;
    margin: 10%;
}

.sec2 blockquote::before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: url('/public/assets/icon-quotes.svg');
    background-repeat: no-repeat;
}

.sec2 blockquote {
    margin-bottom: 10%;
}

.sec2 .profile h3 {
    color: var(--text-secondary-color);
    margin: 0;
}

.sec2 .profile p {
    margin: 3% 0;
}

.sec2 .profile-picture {
    border-radius: 100%;
    border: 2px solid #C4FFFE;
    max-height: 6rem;
}

.final-secion {
    display: flex;
    justify-content: end;
    width: 100%;
}


/* Footer */

footer {
    background-color: #002529;
    color: var(--text-accent-color);
    
}

footer .footer-first {
    background-color: var(--accent-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

footer h2 {
    margin: 25% 20% 10% 20%;
    font-weight: 800;
    font-size: 2.3rem;
}

button {
    background: none;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 600;
    width: 50%;
}

.footer-div {
    display: flex;
    justify-content: start;
    width: 100%;
}

.footer-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15% 0;
}